aws_region       = "us-east-1"
github_org       = "your-github-org"
github_repo      = "zt-devsecops-pipeline"
allowed_branches = ["refs/heads/main"]
ecr_repo_name    = "zt-devsecops/go-microservice"
